<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBj4BTHn8Tp7o67-jhCw1AWuTbe4RTknPo</string>
	<key>GCM_SENDER_ID</key>
	<string>372294545032</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.messengerApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-1a4ca</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-1a4ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:372294545032:ios:3324b05bf1654e6830393d</string>
</dict>
</plist>